nav {
	background-color: rgba(0,0,0,0.1);
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	z-index: 500;
	color: white;
	ul {
		li {
			list-style-type: none;
			display: inline-block;
				a {
				text-decoration: none;
				color: white;
				padding: 20px;
				a:visited {
					color: white;
				}
			}
		}
	}
}

nav li:hover {
	border: 2px white solid;
}

.login {
	border: 2px white solid;
	margin-right: 60px;
}
